[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pillow = "*"
django-heroku = "*"
cloudinary = "*"
django-decouple = "*"

[dev-packages]

[requires]
python_version = "3.8"
